<!DOCTYPE html>
<html ng-app="campaign">
<head>
	<title>Email Campaign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <!--STYLES-->
    <!-- <link rel='stylesheet' href='/css/bootstrap.min.css'/> -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

	<link rel='stylesheet' href='/css/campaign/style.css'/>
	<link rel='stylesheet' href='/css/angular-material.min.css'/>
    <link rel='stylesheet' href='/css/datatables.min.css' />
    <link rel='stylesheet' href='/css/c3.css' />

	<!--STYLES END-->
</head>
<body ng-cloak ui-router-styles>
<div ui-view></div>
<!--SCRIPTS-->
    <script src="/js/dependencies/jquery-2.1.1.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/ocLazyLoad.min.js"></script>    
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-aria.min.js"></script>
    <script src="/js/angular-file-upload.min.js"></script>
    <script src="/js/angular-material.min.js"></script>
    <script src="/js/angular-messages.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-sanitize.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/ui-router-styles.js"></script>
    <script src="/js/ngletteravatar.min.js"></script>
    <script src="/js/d3.min.js"></script>
    <script src="/js/c3.min.js"></script>
    <script src="/js/angular-material-icons.min.js"></script>
    <script src="/js/datatables.min.js"></script>
    <script src="/js/angular-datatables.min.js"></script>
    <script src="/js/angular-datatables.buttons.min.js"></script>
    <script src="/js/campaign/app.js"></script>
    <script src="/js/campaign/config.js"></script>
    <script src="/js/campaign/controller.js"></script>
    <!--SCRIPTS END-->
    <!-- <script src="/js/campaign/email_campaign.js"></script> -->
</body>
</html>